body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #0079A4;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    padding: 20vh 2vw 0 2vw;
    transition: opacity 0.5s;
}

#home p {
    text-align:justify;
    margin:5vh 30vw 2vh 30vw;
}

h1 {
    text-align:center;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}
